@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');


body{
    background-color: #2e3955;
}

.title{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Pushster', cursive;
}
.description{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: 'Pushster', cursive;
}

.next_each_other{
    display: flex;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}